$color-primary: #0d0bb4;
$color-primary-light: #1605ad;
$color-primary-dark: #07117a;

$color-secondary-light-1: #ceffcc;
$color-secondary-light-2: #94c49b;

$color-tertiary-light-1: #c0d4e5;
$color-tertiary-light-2: #716ab5;

$color-plans-h-bg-1: rgb(180, 224, 255);
$color-plans-h-bg-2: rgb(212, 186, 170);


$color-blue-dark: rgb(93, 164, 211);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #28b485;
 
$color-midnight-grey: #2E4452;
$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;



//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-horizontal-header: 2rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 2rem;

$grid-width-features: 180rem;
$grid-width-plans: 120rem;
$grid-width-about-port: 90%;




