

#impressum {
    
    height: auto;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5rem;
}

h1 {
    font-size: 6rem;
    padding-top: 3rem;
    margin-top: -3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
    
}

li {
    list-style: none;
    font-size: 1.5rem;
}